.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    max-height: 400px;
    min-width: 100px;
    background-color: white;
    z-index: 1;
    margin: 10px;
    width: 100%;
    padding: 20px;
}

.product__info {
    height: 100px;
    margin-bottom: 15px;
}

.product__price {
    margin-top: 5px;
}

.product > img {
    max-height: 200px;
    width: 100%;
    margin-top: 25px;
    margin-bottom: 20px;
    object-fit: contain;
}

.product > button {
    background-color: #FFD814;
    border-radius: 0.6rem;
    width: 200px;
    height: 32px;
    border: none;
}

.product > button:hover {
    background-color: #e6b326;
    cursor: pointer;
}

.product__rating {
    display: flex;
}

@media only screen and (max-width: 600px) {
    .product {
        
        width: auto;
    }
}